.activities-summary {
    max-width: 900px;
    margin: 2rem auto 1.5rem auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    padding: 2rem;
}

.carousel-container {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    width: 700px!important;
    height: 400px!important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.788);
}

.activities-section {
margin: 3rem auto 2rem auto;
width: 100vw;
height: fit-content;
border-radius: 10px;
box-shadow: 0 2px 8px rgba(0,0,0,0.07);
padding: 2rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.activities-section h2 {
color: #27bfa3;
margin-bottom: 1.2rem;
}